## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type = application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_count = application_df['CLASSIFICATION'].value_counts()

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
over_one_classification = classification_count[classification_count > 1]
print(over_one_classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count > 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
Other    33630
C2800       95
C7100       75
C1300       58
C1280       50
         ...
C4120        1
C2561        1
C1245        1
C8210        1
C2150        1
Name: count, Length: 61, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
category_to_numeric = pd.get_dummies(application_df)
category_to_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
X = category_to_numeric.drop(columns=['IS_SUCCESSFUL'], axis='columns').values
y = category_to_numeric['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = len(X_train[0])
layer1nodes = 80
layer2nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer1nodes, input_dim=input_dim, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer2nodes, input_dim=layer1nodes, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, input_dim=layer2nodes, activation='sigmoid'))

# Check the structure of the model
nn.summary()

C:\Users\taysy\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         8,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 10,461 (40.86 KB)

 Trainable params: 10,461 (40.86 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         8,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 10,461 (40.86 KB)

 Trainable params: 10,461 (40.86 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')

In [ ]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.7366 - loss: 0.5487
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.7316 - loss: 0.5539
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.7373 - loss: 0.5512
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 698us/step - accuracy: 0.7356 - loss: 0.5519
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 711us/step - accuracy: 0.7359 - loss: 0.5521
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.7422 - loss: 0.5482
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.7377 - loss: 0.5482
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 665us/step - accuracy: 0.7300 - loss: 0.5554
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 763us/step - accuracy: 0.7308 - loss: 0.5542
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.7368 - loss: 0.5483
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.7335 - loss: 0.5535
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.7394 - loss: 0.5478
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 646us/step - accuracy: 0.7357 - loss: 0.5508
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 688us/step - accuracy: 0.7350 - loss: 0.5549
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - accuracy: 0.7331 - loss: 0.5518
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - accuracy: 0.7429 - loss: 0.5444
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.7407 - loss: 0.5475
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.7321 - loss: 0.5542
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.7388 - loss: 0.5479
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7346 - loss: 0.5523
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.7391 - loss: 0.5452
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - accuracy: 0.7364 - loss: 0.5506
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 677us/step - accuracy: 0.7405 - loss: 0.5480
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.7379 - loss: 0.5500
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - accuracy: 0.7332 - loss: 0.5527
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.7373 - loss: 0.5529
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.7388 - loss: 0.5487
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - accuracy: 0.7350 - loss: 0.5540
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 659us/step - accuracy: 0.7379 - loss: 0.5499
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7396 - loss: 0.5484
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7387 - loss: 0.5469
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7364 - loss: 0.5503
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7364 - loss: 0.5502
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.7343 - loss: 0.5531
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.7333 - loss: 0.5524
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 713us/step - accuracy: 0.7394 - loss: 0.5468
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 720us/step - accuracy: 0.7359 - loss: 0.5509
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.7309 - loss: 0.5552
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.7396 - loss: 0.5454
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - accuracy: 0.7387 - loss: 0.5521
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.7388 - loss: 0.5480
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 682us/step - accuracy: 0.7377 - loss: 0.5497
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - accuracy: 0.7381 - loss: 0.5499
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 798us/step - accuracy: 0.7338 - loss: 0.5555
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 791us/step - accuracy: 0.7338 - loss: 0.5533
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 753us/step - accuracy: 0.7395 - loss: 0.5482
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.7292 - loss: 0.5594
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.7370 - loss: 0.5502
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.7304 - loss: 0.5578
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 707us/step - accuracy: 0.7372 - loss: 0.5481
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.7403 - loss: 0.5472
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 707us/step - accuracy: 0.7318 - loss: 0.5535
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.7383 - loss: 0.5494
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.7338 - loss: 0.5536
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.7373 - loss: 0.5494
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - accuracy: 0.7351 - loss: 0.5528
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 746us/step - accuracy: 0.7349 - loss: 0.5501
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 730us/step - accuracy: 0.7377 - loss: 0.5495
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 771us/step - accuracy: 0.7367 - loss: 0.5490
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 748us/step - accuracy: 0.7354 - loss: 0.5502
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.7360 - loss: 0.5523
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 735us/step - accuracy: 0.7398 - loss: 0.5473
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.7361 - loss: 0.5521
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.7356 - loss: 0.5505
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 653us/step - accuracy: 0.7346 - loss: 0.5526
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.7316 - loss: 0.5545
Epoch 67/100

804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 653us/step - accuracy: 0.7388 - loss: 0.5510
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 651us/step - accuracy: 0.7384 - loss: 0.5482
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 646us/step - accuracy: 0.7362 - loss: 0.5492
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7338 - loss: 0.5538
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 649us/step - accuracy: 0.7370 - loss: 0.5503
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7346 - loss: 0.5524
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 678us/step - accuracy: 0.7363 - loss: 0.5509
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 642us/step - accuracy: 0.7346 - loss: 0.5524
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7311 - loss: 0.5534
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 649us/step - accuracy: 0.7357 - loss: 0.5502
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.7401 - loss: 0.5490
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 642us/step - accuracy: 0.7378 - loss: 0.5472
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 652us/step - accuracy: 0.7384 - loss: 0.5496
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7339 - loss: 0.5498
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7387 - loss: 0.5471
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 645us/step - accuracy: 0.7386 - loss: 0.5496
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7366 - loss: 0.5506
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.7369 - loss: 0.5510
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 654us/step - accuracy: 0.7350 - loss: 0.5530
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.7359 - loss: 0.5513
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.7352 - loss: 0.5506
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.7338 - loss: 0.5533
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 645us/step - accuracy: 0.7389 - loss: 0.5466
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7407 - loss: 0.5453
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 652us/step - accuracy: 0.7336 - loss: 0.5534
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.7353 - loss: 0.5516
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - accuracy: 0.7352 - loss: 0.5533
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 674us/step - accuracy: 0.7330 - loss: 0.5522
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 728us/step - accuracy: 0.7383 - loss: 0.5492
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - accuracy: 0.7404 - loss: 0.5438
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - accuracy: 0.7372 - loss: 0.5498
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 712us/step - accuracy: 0.7383 - loss: 0.5476
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.7341 - loss: 0.5529
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - accuracy: 0.7358 - loss: 0.5520

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 549us/step - accuracy: 0.7181 - loss: 0.5930
Loss: 0.5930481553077698, Accuracy: 0.7181341052055359

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.